body{
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.login{
  width: 350px;
  height: 400px;
  line-height: 1;
margin:auto;
  background-color: white;
  padding:10px;
  border: black solid 1px;
  text-align: center;
  padding-left: 10px;
}
.login-btn{
  height: 50px;
  background-color: grey;
}